body {
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

h1 {
  text-align: center;
  font-size: 33px;
  font-family: barlow;
  text-transform: capitalize;
  color: #666462;
}
h2 {
  text-align: center;
  font-size: 47px;
  line-height: 50%;
  font-family: barlow;
}
h3 {
  text-align: center;
  font-size: 13px;
  line-height: 20%;
  font-family: barlow;
  color: #666462;
}
h4 {
  text-align: center;
  font-size: 28px;
}
h5 {
  text-align: center;
  font-size: 17px;
  line-height: 50%;
  font-family: barlow;
  color: #666462;
}
small {
  font-size: 30px;
}

p {
  text-align: center;
  margin-bottom: 0;
}
p:first-letter {
  text-transform: capitalize;
}

.d-flex-temp {
  text-align: center;
  font-size: 55px;
  line-height: 130%;
  font-family: barlow;
  color: #666462;
}
.searchbutton {
  text-align: center;
  font-family: barlow;
  color: #666462;
}
.search {
  font-family: barlow;
  color: #666462;
}
.weathercontainer {
  margin: 50px auto;
  display: block;
  max-width: 500px;
  background-color: #e8dcd5;
  border-radius: 10px;
  box-shadow: 15px 10px 15px #4a4e56;
  padding: 42px;
  font-family: barlow;
}

.weatherforecast {
  margin-top: 20px;
  text-align: center;
  color: #666462;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  text-align: center;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  text-align: center;
}
.weather-forecast-temperature-max {
  opacity: 0.5;
  text-align: center;
}
.weather-forecast-temperatures {
  font-size: 13px;
  text-align: center;
}
